*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    /* me permite deslizar cuando hago click en los links del menu*/
    scroll-behavior: smooth;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: -webkit-linear-gradient(to top, #000000, #434343); 
    background: linear-gradient(to top, #000000, #434343); 
    padding: 10px;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile img{
    width: 16rem;
    border-radius: 50%;
    margin-top: 3rem;
    position: relative;
    
}
.profile h1{
    color: #fff;
    font-weight: 600;
    margin-top: 1rem;
    cursor: pointer;
}
.profile svg{
    width: 1.5rem;
    margin-top: 1rem;
}
.name-container{
    display: flex;
}
.gradient-insta{
    background: rgb(255, 201, 0);
    background: linear-gradient(36deg, rgb(255,201,0) 13%, rgb(255,0,95) 73%, rgb(255,9,237) 100%);
    padding: 5px;
    box-sizing: border-box;
    width: 16.8rem;
    height: 16.8rem;
    border-radius: 50%;
    padding: 0;
    margin-top: 2.6rem;
    position: absolute;
}
.links-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.25rem auto 0 auto;
}
.link-btn{
    width: 15rem;
    display: flex;
    justify-content: center;
    background: #009cd5;
    padding: 0.62rem 0.93rem;
    color: #fff;
    text-decoration: none;
    border-radius: 10rem;
    margin-bottom: 1.5rem;
}
.icon{
    font-size: 1.68rem;
    margin-right: 0.4rem;
}
.link-btn:first-child{
    background: #d50000;
    box-shadow: 0 0 5px #d50000,
                0 0 10px #d50000,
                0 0 15px #d50000,
                0 0 30px #d50000;
}
.link-btn:nth-child(2){
    background: #8000d5;
    box-shadow: 0 0 5px #8000d5,
                0 0 10px #8000d5,
                0 0 15px #8000d5,
                0 0 30px #8000d5;
}
.link-btn:nth-child(3){
    background: #ff8c00;
    box-shadow: 0 0 5px #ff8c00,
                0 0 10px #ff8c00,
                0 0 15px #ff8c00,
                0 0 30px #ff8c00;
}
.link-btn:nth-child(4){
    background: #000000;
    box-shadow: 0 0 5px #000000,
                0 0 10px #000000,
                0 0 15px #000000,
                0 0 30px #000000;
}
.link-btn:nth-child(5){
    background:#009cd5;
    box-shadow: 0 0 5px #009cd5,
                0 0 10px #009cd5,
                0 0 15px #009cd5,
                0 0 30px #009cd5;
}
.link-btn:nth-child(6){
    background: #fff;
    color: #000000;
    box-shadow: 0 0 5px #fff,
                0 0 10px #fff,
                0 0 15px #fff,
                0 0 30px #fff;
}
.link-btn:nth-child(7){
    background: #2f2d31;
    color: #ffffff;
    box-shadow: 0 0 5px #2f2d31,
                0 0 10px #2f2d31,
                0 0 15px #2f2d31,
                0 0 30px #2f2d31;
}

.footer{
    text-align: center;
    color: #9a9a9a;
    padding: 10px 0 20px;
    font-size: 13px;
}
.footer a{
    text-decoration: none;
    color: #9a9a9a;
}


@media (max-width: 414px){
    .profile img{
        width: 13rem;
        border-radius: 50%;
        margin-top: 3rem;
        position: relative; 
    }
    .gradient-insta{
        background: rgb(255, 201, 0);
        background: linear-gradient(36deg, rgb(255,201,0) 13%, rgb(255,0,95) 73%, rgb(255,9,237) 100%);
        padding: 5px;
        box-sizing: border-box;
        width: 13.8rem;
        height: 13.8rem;
        border-radius: 50%;
        padding: 0;
        margin-top: 2.6rem;
        position: absolute;
}
}